{% extends "base.html" %}
{% load i18n block_tags fresh_theme_tags mezzanine_tags blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block main %}
    {% richflatblock "home page image" %}
    <hr/>
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-sm text-center">
                {% flatblock "home page well" %}
            </div>
        </div>
    </div>
{% endblock %}


{% block right_panel %}
{% blog_recent_news_posts limit=5 category="News" as current_news_posts %}
<div id="front-sidebar">
    <div id="newsbox">
        {% for news_post in current_news_posts %}
            {% block right_panel_news_item %}
                {% if news_post.title %}
                    {% editable news_post.title %}<h4>{{ news_post.title }}</h4>{% endeditable %}
                {%  endif %}
                {% editable news_post.content %}{{ news_post.content|richtext_filters|safe }}{% endeditable %}
            {% endblock %}
            <hr/>
        {% endfor %}
    </div>
    <a class="btn btn-sm share-twitter" target="_blank" href="http://twitter.com/home?status={{ request.build_absolute_uri|urlencode }}">{% trans "Share on Twitter" %}</a>
    <a class="btn btn-sm share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}">{% trans "Share on Facebook" %}</a>
</div>
{% endblock %}

{% block row_above_footer %}
{% endblock %}
